//site color variables
$body-color: #fdfdfd;
$primary-color: rgb(217,206,169);
$secondary-color: #fff;
$text-color: rgb(26,33,38);
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Recursive', Arial, sans-serif;
$secondary-font: 'Recursive', Arial, sans-serif;
