.site-purpose{
  padding: 100px 0;
  background: $secondary-color;
  &-list{
    padding: 0;
    margin: 15px 0 0 15px;
    @include mobile{
      text-align: center;
      margin: 0;
    }
    li{
      list-style: none;
      color: $text-color;
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
  }
}